@import 'color_default';

$background: #f9fbfc;
$colorPrimary: #FFFFFF;
$colorPrimaryHighlight: #ECEFF1;
$colorDivider: $colorPrimaryHighlight;
$colorShadow: #999999;
$textColorEmphasis: #000000;
$textColorTertiary: #3E4042;
$textColorPrimary: #607D8B;
$textColorSecondary: #777777;
$textColorInverse: #FFFFFF;
$textColorLink: #337ab7;
$textColorLinkHover: #23527c;

td { background-color: transparent !important; }
tr:hover { background-color: $colorDivider !important; }

@import 'pygments_github';
